[VERSION]
major =1
minor =0

[VIEWS]
eyepoint = -3.95, -0.85, 1.9 ; (feet) longitudinal, lateral, vertical distance from reference datum

;===================== CAMERADEFINITION =====================

[CAMERADEFINITION.0]
Title ="New Camera"
Guid ="{606B7603-5B2C-4173-8404-F803F711652E}"
Description =""
Origin ="Pilot"
MomentumEffect =1
SnapPbhAdjust ="None"
SnapPbhReturn =1
PanPbhAdjust ="None"
PanPbhReturn =0
Track ="None"
ShowAxis ="NO"
AllowZoom =1
InitialZoom =0.1935
SmoothZoomTime =5
ZoomPanScalar =1
ShowWeather =1
XyzAdjust =0
ShowLensFlare =0
Category ="Cockpit"
SubCategory ="Pilot"
SubCategoryItem ="DefaultPilot"
PitchPanRate =20
HeadingPanRate =60
InitialXyz = -0.709584, 4.978994, 20.365911
InitialPbh = -9.90645, 0.082422, 7.414572
NodesToHide =""
ClipMode ="Normal"
BoundingBoxRadius =0.1
UITitle="Default"
TargetCategory="None"
CycleHidden=0
CycleHideRadius=0
ShowPanel=0
InstancedBased=0
NoSortTitle=0
Transition=0
PanAcceleratorTime=5
XYZRate=0.25
XYZAcceleratorTime=0

[CAMERADEFINITION.1]
Title="ShadowCenter"
Guid="{CA87539D-092D-4490-9351-421376B013EE}"
UITitle=""
Description=""
Origin="Cockpit"
Track="None"
TargetCategory="None"
ClipMode="Normal"
SnapPbhAdjust="None"
PanPbhAdjust="None"
XyzAdjust=0
ShowAxis="NO"
AllowZoom=0
InitialZoom=1
SmoothZoomTime=5
BoundingBoxRadius=3.799998
ShowWeather=0
CycleHidden=0
CycleHideRadius=0
ShowPanel=1
MomentumEffect=0
ShowLensFlare=0
PanPbhReturn=0
SnapPbhReturn=1
InstancedBased=0
NoSortTitle=0
NodesToHide=""
Transition=0
Category="Cockpit"
SubCategory="Shadow Center"
SubCategoryItem="None"
InitialXyz= 0, 0, 0
InitialPbh= 0, 0, 0
